
.confirmation__seller {
    display: flex;
    align-items: center;
    padding: var(--spacing-lg);
    border-radius: var(--radius-md);
    margin-bottom: var(--spacing-lg);
    background-color: var(--color-background);
}

.confirmation__seller-logo {
    width: 60px;
    height: 60px;
    margin-right: var(--spacing-lg);
    background-color: white;
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation__seller-info {
    flex: 1;
}

.confirmation__seller-name {
    font-size: var(--font-lg);
    font-weight: var(--weight-semi-bold);
    margin-bottom: var(--spacing-xs);
}

.confirmation__seller-address {
    font-size: var(--font-md);
    color: var(--color-text-secondary);
}

.confirmation__success {
    background-color: var(--color-background);
    border-radius: var(--radius-md);
    padding: var(--spacing-lg);
    text-align: center;
    margin: var(--spacing-xxl) 0;
}

.confirmation__success-icon {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto var(--spacing-sm);
    color: white;
    font-size: var(--font-xl);
}

.confirmation__order-number {
    color: var(--color-default);
    font-size: var(--font-xl);
    font-weight: var(--weight-bold);
    margin-bottom: var(--spacing-sm);
}

.confirmation__message {
    max-width: 60%;
    margin: 0 auto;
    font-size: var(--font-sm);
    font-weight: var(--weight-medium);
    color: var(--color-text-gray);
}

.confirmation__details {
    border: 1px solid var(--color-background);
    border-radius: var(--radius-md);
    margin-bottom: var(--spacing-xxl);
}

.confirmation__detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
    font-size: var(--font-sm);
    font-weight: var(--weight-medium);
    border-bottom: 1px solid var(--color-border);
}

.confirmation__detail-row:last-child {
    border-bottom: none;
}

.confirmation__detail-label {
    display: flex;
    align-items: center;
}

.confirmation__detail-icon {
    margin-right: var(--spacing-xs);
    width: 20px;
    height: 20px;
}

.confirmation__detail-value {
    max-width: 9.5rem;
    text-align: right;
    color: var(--color-text-secondary);
}

.confirmation__detail-link {
    color: var(--color-primary);
}

.confirmation__view-all {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: var(--radius-md);
    padding: var(--spacing-md) var(--spacing-lg);
    font-size: var(--font-md);
    font-weight: var(--weight-semi-bold);
    width: 100%;
    cursor: pointer;
}