.products-section {
    margin: 0 var(--spacing-lg);
    padding-top: var(--spacing-lg);
    border-radius: var(--radius-lg);
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
}

.products-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.products-section__title {
    font-size: var(--font-xxl);
    font-weight: var(--weight-bold);
    color: var(--color-text-primary);
    margin: 0;
}

.products-section__more {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-default);
}

.products-section__grid {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .products-section__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}