.specs {
    margin: var(--spacing-lg) auto;
    border-radius: 8px;
}

.specs__title {
    background: #fff;
    font-size: var(--font-xl);
    font-weight: var(--weight-bold);
    color: var(--color-default);
    padding: 16px;
    margin: 0;
}

.specs__list {
    background-color: #fff;
}

.specs__item {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm) var(--spacing-lg);
    background-color: #fff;
}

.specs__item:nth-child(odd) {
    background-color: var(--color-background);
}

.specs__label, .specs__value {
    color: var(--color-default);
    font-size: var(--font-sm);
    font-weight: var(--weight-medium);
}

.specs__value {
    text-align: right;
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 16px;
    }

    .specs__title {
        font-size: 32px;
        padding: 32px 16px 24px;
    }

    .specs__list {
        border-radius: 12px;
        overflow: hidden;
    }
}